.info__name{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin: 0 17px 0 0;
  align-self: flex-end;
  height: 43px;
}

@media screen and (max-width: 770px){
  .info__name{
    margin-right: 8px;
    margin-top: 14px;
    font-size: 27px;
    height: 38px;
  }
}
